{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div class="row">
        {% for project in projects %}
        <div class="col-3-md-3"></div>
        <div class="col-3-md-3">
         <h2 class="text-center" style="font-family: 'Shrikhand', cursive;"> {{ project.name }} </h2>
         <p class="text-center">{{ project.description }}</p>
        </div>
        <div class="col-3-md-3">
           <img src="{{project.Project_image.url}}" class="img-responsive" alt="Image" height="300" width="400">
        </div>
        <div class="col-3-md-3"></div>
        {% endfor %}
</div>
{% endblock %}
